* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: hsl(290, 6%, 18%);
    box-sizing: border-box;
}

p, h1, h2, h3 {
  cursor: default;
}

html {
    font-size: 1.9vw;
}

body {
    margin: 0;
    padding: 0;
}

section, footer {
    display: flex;
}

a:hover {
    color: #fa625f;
}

h1, h2, h3 {
    font-family: 'Archivo Black', sans-serif;
}

h1 {
  border-bottom: 8px solid #fa625f;
  margin-bottom: 0;
  font-size: 8rem;
}

h2 {
  font-size: 5rem;
}

h3 {
    font-size: 4rem;
}

p, a {
font-size: 3rem;
}

.hero {
  flex-direction: column;
  position: relative;
  height: 100vh;
}

.knockout {
  background: url('../assets/images/hero-background540.jpg')no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
  width: 100%;
}

.knockout-fill {
  background-color: #fbf579;
  flex: 1;
}

.hero-text {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    background-color: transparent;
    h2 {
        margin-bottom: 0;
        text-align: right;
    }
}

.about {
  overflow: hidden;
  position: relative;
    flex-direction: column;
    background: linear-gradient(#fbf579, #fa625f);
    p {
      z-index: 1;
      font-size: 7rem;
    }
    h2 {
      position: absolute;
      z-index: 0;
      color: #fbf579;
      font-size: 20rem;
    }
    span, a {
      color:hsla(47, 94%, 73%, .85);
      font-size: 7rem;
      cursor: pointer;
      text-decoration: none;
      transition: .2s ease;
    }
    span:hover, a:hover {
      color: #fbf579;
      transition: .2s ease;
    }
}

.projects {
    flex-direction: column;
    background-color: #fbf579;
    h2 {
        font-size: 9rem;
        background-color: #fbf579;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

.projects-grid {
    flex-direction: column;
    align-items: center;
}

.project-shell {
    position: relative;
    height: 90vw;
    width: 90vw;
    transition: .5s ease;
    h3 {
        transform: rotate(18deg);
        position: absolute;
        z-index: 3;
        top: 20%;
        left: -3%;
        right: -3%;
        margin: 0;
        background-color: #fa625f;
        text-align: center;
        border: 3px solid #fbf579;
        transition: .5s ease;
    }
    p {
        z-index: 4;
        position: absolute;
        top: 35%;
        left: 0;
        right: 0;
        text-align: center;
        background-color: #fbf579;
        border-top: 3px solid #fa625f;
        border-bottom: 3px solid #fa625f;
        transition: .5s ease;
    }
}

.project-inner {
    z-index: 1;
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    border: 3rem solid #fa625f;
    border-radius: 50%;
    transition: .5s ease;
}

.project-links {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: space-between;
    transform: rotate(-10deg);
    top: 20%;
    left: -3%;
    right: -3%;
    padding: 1% 10%;
    background-color: #fa625f;
    border: 2px solid #fbf579;
    transition: .5s ease;
    a {
        text-decoration: none;
        transition: .2s ease;
    }
    a:hover {
        color: #fbf579;
        transform: scale(1.3);
        transition: .2s ease;
    }
}

.project-collapse {
    width: 90vw;
    transition: .5s ease;
    h3, div.project-links {
        transform: rotate(0deg);
        text-align: center;
        margin: 2rem 0;
        top: 10%;
        left: 5%;
        right: 5%;
        transition: .5s ease;
    }
    div.project-inner {
        transform: scale(0);
        border-width: 0;
        transition: .5s ease;
    }
    p {
        top: 25%;
        transform: scale(0);
        transition: .5s ease;
    }
}

.project-hide {
    height: 12rem;
    transition: transform .2s ease, height .5s ease, opacity .5s ease;
    h3 {
      transition: .2s;
    }
    p, div {
        display: none;
    }
}

.project-hide:hover {
    h3 {
    transform: scale(1.05);
    transition: .2s ease;
    }
}

.skills {
  position: relative;
    height: 100vh;
    h2 {
        position: absolute;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 9rem;
        background: transparent;
    }
}

footer {
  @extend .projects;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    padding: 0;
    list-style-type: none;
    li {
      padding: 0;
      border-bottom: 12px solid #fa625f;
      transition: .4s ease;
      > div {
        transform: translateX(-23%);
        transition: .4s ease;
        a {
          display: flex;
          align-content: center;
          align-items: center;
          text-decoration: none;
          div {
            width: 25%;
            display: flex;
            justify-content: flex-end;
            align-content: center;
            padding-right: 4%;
          }
        }
      }
      i {
        transition: .4s ease;
      }
    }
    li:hover, li:active, li:focus, .scrollFinish {
      border-color: hsl(290, 6%, 18%);
      > div {
        transform: translateX(10%);
        transition: .4s ease;
        div {
          color: #fa625f;
        }
      }
      i {
        color: #fa625f;
        transition: .4s ease;
      }
    }
  }
}

i {
    font-size: 13rem;
}

.secret {
  position: relative;
  overflow: hidden;
  width: 100%;
    height: 3000vh;
    background-image: repeating-linear-gradient(
    hsl(57, 94%, 73%),
    hsl(97, 94%, 73%) 2%,
    hsl(137, 94%, 73%) 4%,
    hsl(177, 94%, 73%) 6%,
    hsl(217, 94%, 73%) 8%,
    hsl(257, 94%, 73%) 10%,
    hsl(297, 94%, 73%) 12%,
    hsl(337, 94%, 73%) 14%,
    hsl(17, 94%, 73%) 16%,
    hsl(57, 94%, 73%) 18%
    );

    a {
      color: #fa625f;
      background-color: #fbf579;
      font-size: 6rem;
      z-index: 1;
      text-align: center;
      position: absolute;
      bottom: 1.5%;
      left: 20%;
      right: 20%;
      text-decoration: none;
      transition: .2s ease;
    }

    a:hover {
      color: black;
      background-image: repeating-linear-gradient(
        hsl(57, 94%, 73%),
        hsl(97, 94%, 73%) 2%,
        hsl(137, 94%, 73%) 4%,
        hsl(177, 94%, 73%) 6%,
        hsl(217, 94%, 73%) 8%,
        hsl(257, 94%, 73%) 10%,
        hsl(297, 94%, 73%) 12%,
        hsl(337, 94%, 73%) 14%,
        hsl(17, 94%, 73%) 16%,
        hsl(57, 94%, 73%) 18%
        );
      transform: scale(2);
      transition: .2s ease;
    }
}

.hidden {
  display: none;
}

@media only screen and (min-width : 668px) {
  .knockout {
    background: url('../assets/images/hero-background960.jpg')no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    width: 100%;
  }
}

@media only screen and (min-width : 1024px) {
  .knockout {
    background: url('../assets/images/hero-background1280.jpg')no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    width: 100%;
  }

  .hidden {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: contain;
    background-repeat: repeat;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }

  .dont {
    background-image:url("../assets/images/dont.svg");
    display: block;
  }
  
  .stop {
    background-image:url("../assets/images/stop.svg");
  }
  
  .me {
    background-image:url("../assets/images/me.svg");
  }
  
  .now {
    background-image:url("../assets/images/now.svg");
  }
  
  .earth1 {
    background-image:url("../assets/images/earth.png");
    background-repeat: no-repeat;
    background-position: left;
  }
  
  .earth2 {
    @extend .earth1;
    background-position: center;
  }
  
  .earth3 {
    @extend .earth1;
    background-position: right;
  }
  
  .earthneg1 {
    background-image:url("../assets/images/earthneg.png");
    background-repeat: no-repeat;
    background-position: right;
  }
  
  .earthneg2 {
    @extend .earthneg1;
    background-position: center;
  }
  
  .earthneg3 {
    @extend .earthneg1;
    background-position: left;
  }
  
  .comet{
    background-image:url("../assets/images/comet.png");
    background-size: 25%;
  }
  
  .tiger {
    background-image:url("../assets/images/tiger.png");
    background-size: 40%;
  }
  
  .godiva {
    background-image:url("../assets/images/godiva.png");
    background-size: contains;
  }
  
  .rocket {
    background-image:url("../assets/images/rocket.png");
    background-size: 20%;
  }
  
  .satalite {
    background-image:url("../assets/images/satalite.png");
    background-size: 50%;
  }
  
  .bomb {
    background-image:url("../assets/images/bomb.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .explode {
    background-image:url("../assets/images/explode.png");
  }
}

/* Landscape dimensions for hero image */
@media screen and (min-aspect-ratio: 1454/859) {
    .hero {
        flex-direction: row-reverse;
    }
    .knockout {
        width: auto;
        height: 100%;
    }
}

@media screen and (min-aspect-ratio: 2/3){
    html {
        font-size: 1.8vw;
    }
}

@media screen and (min-aspect-ratio: 3/4) {
    html {
        font-size: 1.7vw;
    }
}

@media screen and (min-aspect-ratio: 1/1) {
    html {
        font-size: 1.8vw;
    }

    h1 {
        border: none;
    }

    .hero-text {
        bottom: 0;
    }

    .about {
        padding-top: 10%;
    }

  footer {
    ul {
      flex-direction: row;
      li {
        padding: 0;
        > div {
          transform: translateX(0);
          a {
            flex-direction: column;
            div {
              opacity: 0;
              justify-content: center;
              width: 100%;
              padding: 0;
              transition: .4s ease;
            }
          }
        }
      }
      li:hover, li:active, li:focus, .scrollFinish {
        > div {
          transform: translateX(0) scale(1.1);
          a {
            div {
              transform: translateY(50%);
              opacity: 100;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-aspect-ratio: 4/3) {
    html {
        font-size: 1.5vw;
    }

    .projects-grid {
        flex-direction: row;
        justify-content: space-around;
    }

  .project-shell {
    height: 50vw;
    width: 50vw;
    h3 {
      font-size: 2.5rem;
      transition: transform .5s ease;
    }
    p, a {
      font-size: 2rem;
    }
  }

  .project-links {
    a {
      font-size: 2rem;
    }
  }

  .project-collapse {
    h3, div.project-links {
      top: 15%;
    }
    transition: 0s;
  }

  .project-hide {
    writing-mode: vertical-lr;
    width: 11%;
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      top: 7%;
      left: 20%;
      right: 20%;
      bottom: 7%;
      opacity: 1;
    }
  }
}

@media screen and (min-aspect-ratio: 3/2) {
  html {
      font-size: 1.3vw;
  }

  .about {
    p {
      font-size: 6rem;
    }
  }
}
