* {
    font-family: 'Archivo Black', sans-serif;
    color: hsl(290, 6%, 18%);
}

html {
    font-size: 2vw;
}

body {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

section, footer {
    display: flex;
    width: 100%;
    height: auto;
}

h1 {
    margin-bottom: 0;
    font-size: 6em;
}

h2 {
    font-size: 4em;
}

p {
    width: 90%;
    font-size: 3em;
}

.hero {
    flex-direction: column;
    position: relative;
}

.knockout {
    background: url('../assets/hero-background.jpg')no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.knockout-fill {
    background-color: #fbf579;
    width: 100%;
    flex: 1;
}

.hero-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    h2 {
        margin-bottom: 0;
        text-align: right;
    }
}

.about {
    flex-direction: column;
    background: linear-gradient(#fbf579, #fa625f);
    p:nth-child(2) {
        align-self: flex-end;
        text-align: right;
    }
    p:nth-child(4) {
        align-self: flex-end;
        text-align: right;
    }
}

.portfolio {
    flex-direction: column;
    background-color: #fa625f;
}

.portfolio-grid {
    flex-wrap: wrap;
    div {
        width: 50%;  
    }
}

.skills {
    background: linear-gradient(#fa625f, #fbf579);
}

footer {
    background-color: #fbf579;
}

@media screen and (min-aspect-ratio: 1454/859) {
    .hero {
        flex-direction: row-reverse;
    }
    .knockout {
        width: auto;
        height: 100vh;
    }
}