* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: hsl(290, 6%, 18%);
    box-sizing: border-box;
}

html {
    font-size: 2vmin;
}

body {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

section, footer {
    display: flex;
    width: 100%;
}

a:hover {
    color: #fa625f;
}

h1, h2, h3 {
    font-family: 'Archivo Black', sans-serif;
}

h1 {
    border-bottom: 8px solid #fa625f;
    margin-bottom: 0;
    font-size: 7em;
}

h2 {
    font-size: 4.5em;
}

h3 {
    font-size: 2.5em;
}

.hero {
    flex-direction: column;
    position: relative;
    height: 100vh;
}

.knockout {
    background: url('../assets/hero-background.jpg')no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.knockout-fill {
    background-color: #fbf579;
    width: 100%;
    flex: 1;
}

.hero-text {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    background-color: transparent;
    h2 {
        margin-bottom: 0;
        text-align: right;
    }
}

.about {
    flex-direction: column;
    background: linear-gradient(#fbf579, #fa625f);
    p {
        font-size: 7em;
    }
}

.projects {
    flex-direction: column;
    background-color: #fbf579;
    h2 {
        font-size: 9em;
        background-color: #fbf579;
    }
    p {
        font-size: 2em;
    }
}

.projects-grid {
    flex-wrap: wrap;
    > div {
        width: 96%;
        margin: 0 6% 6% 6%;
        padding: 6%;
        background-color: #fa625f;
        h3 {
            margin-top: 0;
            text-align: center;
            font-size: 3em;
        }
        p {
            font-size: 2em;
            a {
                font-size: 1em;
            }
        }
        a {
            font-size: 1.5em;
        }
    }
}

.projects-links {
    display: flex;
    justify-content: space-around;
    background-color: #fbf579;
    font-size: 1.5em;
    a {
        text-decoration: none;
    }
    a:hover {
        color: #fa625f;
    }
}

.skills {
    flex-direction: column;
    background-color: #fa625f;
    h2 {
        font-size: 9em;
        background-color: #fa625f;
    }
    p {
        font-size: 2em;
    }
}

.skills-grid {
    @extend .projects-grid;
    > div {
        background-color: #fbf579;
        ul {
            li {
                padding: 1.5%;
                font-size: 2em;
            }
        }
    }
}

footer {
    @extend .projects;
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
        list-style-type: none;
        li {
            margin: 5%;
            font-size: 14em;
        }
    }
}

.secret {
    position: relative;
    height: 1000vh;
    background-image: repeating-linear-gradient(
    hsl(57, 94%, 73%),
    hsl(97, 94%, 73%) 10%,
    hsl(137, 94%, 73%) 15%,
    hsl(177, 94%, 73%) 20%,
    hsl(217, 94%, 73%) 25%,
    hsl(257, 94%, 73%) 30%,
    hsl(297, 94%, 73%) 35%,
    hsl(337, 94%, 73%) 40%,
    hsl(17, 94%, 73%) 45%,
    hsl(57, 94%, 73%) 50%
    );
    
    a {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 50px;
        text-align: center;
    }
}



/* Landscape dimensions for hero image */
@media screen and (min-aspect-ratio: 1454/859) {
    .hero {
        flex-direction: row-reverse;
    }
    .knockout {
        width: auto;
        height: 100vh;
    }
}

/* general landscape rules */
@media screen and (orientation: landscape) {
    h1 {
        border: none;
    }

    .hero-text {
        bottom: 0;
    }

    .about {
        padding-top: 10%;
    }
}

/* larger than small mobile */
@media only screen and (min-width : 414px) {

}

/* larger than large mobile */
@media only screen 
and (min-width : 737px) {
    .projects-grid {
        > div {
            width: 46%;
            margin: 2%;
            padding: 2%;
            p {
                font-size: 1em;
            }
        }
    }

    .skills-grid {
        > div {
            width: 29%;
            background-color: #fbf579;
            ul {
                li {
                    font-size: 1.25em;
                }
            }
        }
    }
}

@media only screen 
and (min-width : 1025px) {
    h1 {
        font-size: 11em;
    }

    h2 {
        font-size: 8em;
    }
}