* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: hsl(290, 6%, 18%);
    box-sizing: border-box;
    cursor: default;
}

html {
    font-size: 2vmin;
}

body {
    margin: 0;
    padding: 0;
}

section, footer {
    display: flex;
}

a:hover {
    color: #fa625f;
}

h1, h2, h3 {
    font-family: 'Archivo Black', sans-serif;
}

h1 {
    border-bottom: 8px solid #fa625f;
    margin-bottom: 0;
    font-size: 8rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 4rem;
}

p, a {
    font-size: 3rem;
}

.hero {
    flex-direction: column;
    position: relative;
    height: 100vh;
}

.knockout {
    background: url('../assets/hero-background.jpg')no-repeat;
    background-size: cover;
    width: 100%;
}

.knockout-fill {
    background-color: #fbf579;
    flex: 1;
}

.hero-text {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    background-color: transparent;
    h2 {
        margin-bottom: 0;
        text-align: right;
    }
}

.about {
    flex-direction: column;
    background: linear-gradient(#fbf579, #fa625f);
    p {
        font-size: 7rem;
    }
}

.projects {
    flex-direction: column;
    background-color: #fbf579;
    h2 {
        font-size: 9rem;
        background-color: #fbf579;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

.projects-grid {
    flex-direction: column;
    align-items: center;
}

.project-shell {
    position: relative;
    height: 90vw;
    width: 90vw;
    transition: .5s ease;
    h3 {
        transform: rotate(18deg);
        position: absolute;
        z-index: 3;
        top: 20%;
        left: -2%;
        right: -2%;
        margin: 0;
        background-color: #fa625f;
        text-align: center;
        border: 3px solid #fbf579;
        transition: .5s ease;
    }
    p {
        z-index: 4;
        position: absolute;
        top: 35%;
        left: 0;
        right: 0;
        text-align: center;
        background-color: #fbf579;
        border-top: 3px solid #fa625f;
        border-bottom: 3px solid #fa625f;
        transition: .5s ease;
    }
}

.project-inner {
    z-index: 1;
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    border: 3rem solid #fa625f;
    border-radius: 50%;
    transition: .5s ease;
}

.project-links {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: space-between;
    transform: rotate(-10deg);
    top: 20%;
    left: -1%;
    right: -1%;
    padding: 1%;
    background-color: #fa625f;
    border: 2px solid #fbf579;
    transition: .5s ease;
    a {
        text-decoration: none;
    }
    a:hover {
        color: #fbf579 ;
    }
}

.project-collapse {
    width: 90vw;
    transition: .5s ease;
    h3, div.project-links {
        transform: rotate(0deg);
        text-align: center;
        margin: 2rem 0;
        top: 10%;
        left: 5%;
        right: 5%;
        transition: .5s ease;
    }
    div.project-inner {
        top: 50%;
        bottom: 50%;
        left: 50%;
        right: 50%;
        border-width: 0;
        transition: .5s ease;
    }
    p {
        top: 25%;
        transform: scale(0);
        transition: .5s ease;
    }
}

.project-hide {
    height: 15vh;
    transition: transform .2s ease, height .5s ease, opacity .5s ease;
    h3 {
      transition: .2s;
    }
    p, div {
        display: none;
    }
}

.project-hide:hover {
    h3 {
    transform: perspective(30px) translateZ(2px);
    transition: .2s ease;
    }
}

.skills {
    flex-direction: column;
    height: 100vh;
    background-color: #fa625f;
    h2 {
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 9rem;
        background-color: #fa625f;
    }
}

footer {
    @extend .projects;
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        list-style-type: none;
        li {
            border-bottom: 12px solid #fa625f;
        }
    }
}

i {
    font-size: 13rem;
}

.secret {
    position: relative;
    height: 1000vh;
    background-image: repeating-linear-gradient(
    hsl(57, 94%, 73%),
    hsl(97, 94%, 73%) 10%,
    hsl(137, 94%, 73%) 15%,
    hsl(177, 94%, 73%) 20%,
    hsl(217, 94%, 73%) 25%,
    hsl(257, 94%, 73%) 30%,
    hsl(297, 94%, 73%) 35%,
    hsl(337, 94%, 73%) 40%,
    hsl(17, 94%, 73%) 45%,
    hsl(57, 94%, 73%) 50%
    );
    
    a {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 50px;
        text-align: center;
    }
}

/* Landscape dimensions for hero image */
@media screen and (min-aspect-ratio: 1454/859) {
    .hero {
        flex-direction: row-reverse;
    }
    .knockout {
        width: auto;
        height: 100vh;
    }
}

@media screen and (min-aspect-ratio: 2/3){
    html {
        font-size: 1.8vmin;
    }
}

@media screen and (min-aspect-ratio: 3/4) {
    html {
        font-size: 1.7vmin;
    }
}

@media screen and (min-aspect-ratio: 1/1) {
    html {
        font-size: 1.8vmin;
    }

    h1 {
        border: none;
    }

    .hero-text {
        bottom: 0;
    }

    .about {
        padding-top: 10%;
    }

    footer {
        ul {
            flex-direction: row;
        }
    }
}

@media screen and (min-aspect-ratio: 4/3) {
    html {
        font-size: 2vmin;
    }

    .projects-grid {
        flex-direction: row;
        justify-content: space-around;
    }

  .project-shell {
    height: 85vh;
    width: 85vh;
    h3 {
      font-size: 2.5rem;
      transition: transform .5s ease;
    }
    p, a {
      font-size: 2rem;
    }
  }

  .project-links {
    a {
      font-size: 2rem;
    }
  }

  .project-collapse {
    h3, div.project-links {
      top: 15%;
    }
    transition: 0s;
  }

  .project-hide {
    writing-mode: vertical-lr;
    width: 10%;
    height: 90vh;
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      top: 7%;
      left: 20%;
      right: 20%;
      bottom: 7%;
      opacity: 1;
    }
  }
}

@media screen and (min-aspect-ratio: 3/2) {
    html {
        font-size: 2.5vmin;
    }
}
