* {
    font-family: 'Source Sans Pro', sans-serif;
    color: hsl(290, 6%, 18%);
}

html {
    font-size: 2vw;
}

body {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

section, footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
}

a {
    color: hsl(290, 6%, 70%);
    text-decoration: none;
}

a:hover {
    color: hsl(290, 6%, 18%);
}

h1, h2, h3 {
    font-family: 'Archivo Black', sans-serif;
}

h1 {
    margin-bottom: 0;
    font-size: 6em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2.5em;
}

.hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}

.knockout {
    background: url('../assets/hero-background.jpg')no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.knockout-fill {
    background-color: #fbf579;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.hero-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
}

.hero-text h2 {
        margin-bottom: 0;
        text-align: right;
    }

.about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbf579), to(#fa625f));
    background: linear-gradient(#fbf579, #fa625f);
}

.about p {
        width: 85%;
        font-size: 3em;
    }

.about p:nth-child(even) {
        -ms-flex-item-align: end;
            align-self: flex-end;
        text-align: right;
    }

.portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fa625f;
}

.portfolio p{
        font-size: 2em;
    }

.portfolio-grid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.portfolio-grid > div {
        width: 46%;
        padding: 2%;
    }

.portfolio-grid > div h3 {
            text-align: center;
        }

.portfolio-grid > div p {
            font-size: 1em;
        }

.portfolio-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 1.5em;
}

.skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: -webkit-gradient(linear, left top, left bottom, from(#fa625f), to(#fbf579));
    background: linear-gradient(#fa625f, #fbf579);
}

.skills p {
        font-size: 2em;
    }

footer {
    background-color: #fbf579;
}

@media screen and (min-aspect-ratio: 1454/859) {
    .hero {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
    }
    .knockout {
        width: auto;
        height: 100vh;
    }
}