* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: hsl(290, 6%, 18%);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font-size: 2vmin;
}

body {
    margin: 0;
    padding: 0;
}

section, footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

a:hover {
    color: #fa625f;
}

h1, h2, h3 {
    font-family: 'Archivo Black', sans-serif;
}

h1 {
    border-bottom: 8px solid #fa625f;
    margin-bottom: 0;
    font-size: 8rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 2.5rem;
}

p, a {
    font-size: 2rem;
}

.hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    height: 100vh;
}

.knockout {
    background: url('../assets/hero-background.jpg')no-repeat;
    background-size: cover;
    width: 100%;
}

.knockout-fill {
    background-color: #fbf579;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.hero-text {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    background-color: transparent;
}

.hero-text h2 {
        margin-bottom: 0;
        text-align: right;
    }

.about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbf579), to(#fa625f));
    background: linear-gradient(#fbf579, #fa625f);
}

.about p {
        font-size: 7rem;
    }

.projects, footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fbf579;
}

.projects h2, footer h2 {
        font-size: 9rem;
        background-color: #fbf579;
        margin-top: 5%;
        margin-bottom: 5%;
    }

.projects-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.projects-grid > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 85vw;
        width: 85vw;
        margin: 0 0 6%;
        padding: 6%;
        border: 10px solid #fa625f;
        border-radius: 50%;
    }

.projects-grid > div h3 {
            margin-top: 0;
            text-align: center;
            font-size: 3rem;
        }

.projects-grid > div p {
            text-align: center;
        }

.projects-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #fa625f;
    font-size: 1.5rem;
}

.projects-links a {
        text-decoration: none;
    }

.projects-links a:hover {
        color: #fbf579 ;
    }

.skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fa625f;
}

.skills h2 {
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 9rem;
        background-color: #fa625f;
    }

footer ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 0;
        list-style-type: none;
    }

footer ul li {
            border-bottom: 12px solid #fa625f;
        }

i {
    font-size: 13rem;
}

.secret {
    position: relative;
    height: 1000vh;
    background-image: repeating-linear-gradient(
    hsl(57, 94%, 73%),
    hsl(97, 94%, 73%) 10%,
    hsl(137, 94%, 73%) 15%,
    hsl(177, 94%, 73%) 20%,
    hsl(217, 94%, 73%) 25%,
    hsl(257, 94%, 73%) 30%,
    hsl(297, 94%, 73%) 35%,
    hsl(337, 94%, 73%) 40%,
    hsl(17, 94%, 73%) 45%,
    hsl(57, 94%, 73%) 50%
    );
}

.secret a {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 50px;
        text-align: center;
    }

/* Landscape dimensions for hero image */

@media screen and (min-aspect-ratio: 1454/859) {
    .hero {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
    }
    .knockout {
        width: auto;
        height: 100vh;
    }
}

@media screen
and (min-aspect-ratio: 2/3){
    html {
        font-size: 1.8vmin;
    }
}

@media screen
and (min-aspect-ratio: 3/4) {
    html {
        font-size: 1.7vmin;
    }
}

@media screen
and (min-aspect-ratio: 1/1) {
    html {
        font-size: 1.8vmin;
    }
    .projects, footer {
        height: 100vh;
    }
        .projects h2, footer h2 {
            margin-bottom: 1%;
        }
    .projects-grid {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }
        .projects-grid > div {
            width: 60vh;
            height: 60vh;
            margin: 0 1%;
            padding: 2rem;
        }
            .projects-grid > div h3 {
                font-size: 1.6rem;
            }
            .projects-grid > div p, .projects-grid > div a {
                font-size: 1.3rem;
            }

    .project-hidden {
        -webkit-writing-mode: vertical-lr;
            -ms-writing-mode: tb-lr;
                writing-mode: vertical-lr;
        width: auto!important;
        border-radius: 10px!important;
        padding: 0!important;
    }
        .project-hidden h3 {
            margin: 0!important;
        }
        .project-hidden div {
            display: none;
        }
        .project-hidden p {
            display: none;
        }

    h1 {
        border: none;
    }

    .hero-text {
        bottom: 0;
    }

    .about {
        padding-top: 10%;
    }
        footer ul {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
        }
}

@media screen
and (min-aspect-ratio: 4/3){
    html {
        font-size: 2vmin;
    }
}

@media screen
and (min-aspect-ratio: 3/2){
    html {
        font-size: 2.5vmin;
    }
}
